body{
  --blue: #344f81;
  --light-blue: #95b8d1;
  --dark-blue: #354667;
  --green: #b8e0d2;
  --light-green: #d6eadf;
  --white: #fff;
  --dark: #333936;
  --yellow: #e5d6b1;
  --gray: #888;
  --red: #eac4d5;
  --dark-red: #642943;
  --light-red: #efcbda;
  color: var(--dark);
  font-family: RootUI;
}



@font-face{
  font-family: 'RootUI';
  src: url("/assets/PTC55F_W.woff") format('woff');
}

@font-face{
  font-family: 'RootUI';
  font-weight: bold;
  src: url("/assets/PTS75F_W.woff") format('woff');
}

